BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: false
IndentCaseLabels: true
AlignEscapedNewlines: Left
BinPackParameters: false
BinPackArguments: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
